name: CD pipeline
on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: download application package
        uses: actions/download-artifact@v4
        with:
          name: app-package

      - name: unzip application package
        run: |
          unzip ./app-package.zip -d ./node-app

      - name: setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Start application server & tunnel
        run: |
          node ./node-app/server.js &
          npx localtunnel --port 3000 &

          sleep 5
          echo "Application server is available on tunnel"

          sleep 300